@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*,
::after,
*,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-accent: #00c2ff;
  --clr-light-blue: #c3f0ff;
  --clr-light: #fff;
  --clr-dark: #000;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  padding: 1% 0;
}
.logo h3 {
  font-size: 20px;
  font-weight: 600;
}

.logo h3 span {
  color: var(--clr-accent);
}

nav {
  display: flex;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
}
nav ul li {
  font-size: 14px;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
nav ul li:hover {
  color: var(--clr-accent);
}
nav ul li small {
  display: block;
  text-decoration: underline;
  text-align: center;
  font-size: 12px;
}
nav ul li a {
  text-decoration: none;
  color: var(--clr-dark);
  transition: all 1s ease-in-out;
}

nav ul li a:hover {
  color: var(--clr-accent);
}

.hr {
  height: 1px;
  width: 100%;
  background-color: var(--clr-accent);
  margin-top: -25px;
}

#hero {
  height: 100vh;
  margin-top: -1%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://images.pexels.com/photos/4672720/pexels-photo-4672720.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.cta-text {
  width: 80%;
}

.cta-text p {
  font-weight: 500;
  font-size: 25px;
  line-height: 35px;
  color: var(--clr-light);
}

.cta-text h3 {
  font-weight: 600;
  font-size: 72px;
  line-height: 84px;
  color: #00c2ff;
}
.mouse ion-icon:hover {
  animation-play-state: paused;
}
.mouse {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.mouse ion-icon {
  font-size: 56px;
  animation-name: animate;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  color: var(--clr-light-blue);
}

#find {
  height: 80vh;
}
.find-container {
  height: 100%;
}
.left {
  width: 45%;
  height: 100%;
  background-image: url("../images/map.png");
  position: relative;
}
.left::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-accent);
  opacity: 0.5;
}
.right {
  width: 55%;
  display: flex;
  align-items: center;
}

.right form {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
 justify-self: center;
}

.input {
  width: 100%;
  margin: 0 auto;
 
}
.input input {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid var(--clr-accent);
  width: 80%;
}
.input p{
    align-self: flex-start;

}
.search {
  padding: 2% 5%;
  border: none;
  background: #00c2ff;
  border: 2px solid #c3f0ff;
  box-sizing: border-box;
  border-radius: 5px;
  align-self: center;
  margin-top: 5%;
}

.search a {
  text-decoration: none;
  color: var(--clr-light);
}

.bot-container{
  display: flex;
}
.b-left{
  width:40%;
  height: 100%;
}

.b-right{


  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes animate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(7%);
  }

  100% {
    transform: translateY(15%);
  }
}
