@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*,
::after,
*,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-accent: #00c2ff;
  --clr-light-blue: #c3f0ff;
  --clr-light: #fff;
  --clr-dark: #000;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  padding: 1% 0;
}
.logo h3{
    font-size: 20px;
    font-weight:600;

}

.logo h3 span {
    color: var(--clr-accent);
}
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
}
ul li {
    font-size: 14px;
}
ul li small {
  display: block;
  text-decoration: underline;
  text-align: center;
  font-size: 12px;
}
.hr{
    height: 1px;
    width: 100%;
    background-color: var(--clr-accent);
    margin-top: -25px;
}
.title{
    width: 55%;
}
.text{
    padding-top:10%;
}
.text h1{
     color: var(--clr-accent);
     font-size: 5vw;
     width: 100%;
}
.text p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
}

.cta-buttons{
    display: flex;
    gap: 20px;
}

.cta-buttons button{
    padding: 2% 5%;
    border:none;
}
.cta-buttons button:nth-child(1){
    background: #00C2FF;
    border: 2px solid #C3F0FF;
     box-sizing: border-box;
      border-radius: 5px;
      
}

.cta-buttons a{
    text-decoration: none;
}


.cta-buttons button:nth-child(1) a {
    color: var(--clr-light)
}



.cta-buttons button:nth-child(2){
    background: #FFFFFF;
border: 1px solid #00C2FF;
box-sizing: border-box;
border-radius: 5px;
}

.cta-buttons button:nth-child(2) a{
  color: var(--clr-accent);
}

.image{
    width: 40%;
    display: flex;
   
}
img{
    height: 80vh;
    position: relative;
    right: 20%;
}
.impact{
    position: absolute;
    right:2%;
    top:20%;
}


.impact p{
    font-size: 40px;
    font-weight: 600;
    color: var(--clr-accent);
}
.impact p small{
    display: block;
    font-size: 12px;
    text-decoration: underline;
    width: 15ch;
    color: var(--clr-dark);
    font-weight: 400;
}

/* @media screen and (min-width:1300px) {


    img{
        height: 100vh;
        position: relative;
    }
    
    
} */